/*  all my CSS here */
html {
  position: relative;
  background-color: #4f8f00; }

body {
  margin: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  color: #5a5a5a;
  min-height: 100%;
  position: relative;
  background-color: #fcfaf7; }

a {
  color: #5a5a5a;
  font-weight: 500;
  text-decoration: underline #aaaaaa; }

h1, h2, h3 {
  font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif; }

p {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400; }

/* for very small screen */
@media only screen and (max-width: 313px) {
  p, ul {
    font-size: 0.8em; }

  .cv-contact {
    width: 300px; } }
/* ----------------------------------------------  Banner  ---------------------------------------------- */
header {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  top: 0;
  height: 90px;
  background-color: #000000;
  width: 100%;
  /* on small screen */ }
  header img {
    display: block;
    float: left;
    margin: 5px 15px;
    height: 80px;
    width: 80px; }
  header p {
    margin-bottom: 0;
    margin-top: 0.5em;
    color: white;
    font-size: 1em; }
  header .name {
    color: #4f8f00;
    font-weight: 600;
    font-size: 1.2em; }
  @media only screen and (max-width: 380px) {
    header p {
      padding-left: 0.8em; }
    header img {
      display: none; } }
  @media only screen and (min-width: 490px) {
    header {
      height: 170px;
      padding: 10px 0; }
      header p {
        padding-left: 200px;
        font-size: 1.3em; }
      header .name {
        font-size: 2em; }
      header img {
        margin: 10px 30px;
        height: 130px;
        width: 130px; } }

/* ----------------------------------------------  Navbar  ---------------------------------------------- */
nav {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  width: 100%;
  top: 90px;
  height: 40px;
  background-color: #4f8f00;
  border-bottom: solid 4px #4f8f00; }
  nav a {
    float: left;
    display: block;
    text-align: center;
    color: #000000;
    font-weight: 500;
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
    text-decoration: none;
    height: 16px;
    padding: 12px 20px;
    /* for very small screen */ }
    @media only screen and (max-width: 313px) {
      nav a {
        padding: 12px 10px; } }
    @media only screen and (min-width: 490px) {
      nav a {
        font-size: 20px;
        height: 20px;
        padding: 10px 30px; } }
  nav a:hover, nav a:focus {
    border-bottom: solid 4px #000000; }
  nav .on-the-page {
    color: #286300;
    background-color: #FCFAF7;
    border-bottom: solid 4px #FCFAF7; }
  nav a.on-the-page:hover, nav a.on-the-page:focus {
    border-bottom: solid 4px #4f8f00; }
  @media only screen and (min-width: 490px) {
    nav {
      top: 170px; } }

/* ----------------------------------------------  Body of a page  ---------------------------------------------- */
main {
  position: relative;
  margin-top: 131px;
  /* size of banner  + navbar */
  margin-bottom: 40px;
  /* to leave some room above the footer */ }
  @media only screen and (min-width: 490px) {
    main {
      margin-top: 193px; } }
  main a:hover, main a:focus {
    color: #408000; }
  main a.invisible-link {
    text-decoration: none;
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold; }
  main a.big-link {
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #408000; }
  main a.big-link:hover, main a.big-link:focus {
    color: #5a5a5a; }
  main p, main h1, main h2, main ul, main h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left; }
  main h1, main h2, main h3 {
    padding-top: 2em;
    color: #408000; }
  main h1 {
    font-size: 1.6em; }
    @media only screen and (min-width: 992px) {
      main h1 {
        font-size: 2.2em; } }
  main h2 {
    font-size: 1.4em; }
    @media only screen and (min-width: 992px) {
      main h2 {
        font-size: 2em; } }
  main h3 {
    font-size: 1.2em; }
    @media only screen and (min-width: 992px) {
      main h3 {
        font-size: 1.8em; } }
  main h3.alt {
    color: #1a1a1a;
    padding-top: 1.5em; }
  main .alt-h1 {
    padding-top: 0;
    color: #5a5a5a;
    font-weight: bold; }
  main .alt-h2 {
    color: #5a5a5a;
    font-weight: bold; }
  main .lead {
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
    padding-top: 2em;
    font-weight: 600;
    font-size: 1em; }
    @media only screen and (min-width: 992px) {
      main .lead {
        font-size: 1.2em; } }
  main ul {
    line-height: 1.5;
    padding-left: 60px; }
    @media only screen and (min-width: 768px) {
      main ul {
        padding-left: 90px; } }
    @media only screen and (min-width: 992px) {
      main ul {
        padding-left: 120px; } }
  main .icon {
    vertical-align: top;
    height: 40px;
    padding: 5px 10px 5px 0; }
  main .icon-big {
    vertical-align: top;
    height: 80px;
    padding: 5px 10px 5px 0; }
    @media only screen and (max-width: 470px) {
      main .icon-big {
        max-width: 100%; } }
  main .icon-very-big {
    vertical-align: top;
    height: 120px;
    padding: 5px 10px 5px 0; }
  main ::selection {
    background: #cae0af;
    color: #1a1a1a; }

.hero-img {
  width: 100%;
  border-bottom: solid 1px #fcfaf7; }

/* ----------------------------------------------  For the CV  ---------------------------------------------- */
.cv a.inverted {
  color: #408000;
  text-decoration: none;
  font-weight: 600; }
.cv a.inverted:hover, .cv a.inverted:focus {
  color: #5a5a5a; }
.cv h2, .cv h3 {
  margin: 0.2em auto;
  padding-top: 1em; }
.cv h2 {
  border-top: solid 2px #4f8f00; }
.cv p {
  margin: 0.2em auto; }
.cv p.date {
  font-family: 'Roboto Condensed','Roboto',Helvetica,Arial,sans-serif;
  color: #5a5a5a;
  font-weight: 700; }

/* ----------------------------------------------  Footer  ---------------------------------------------- */
footer {
  height: 30px;
  padding: 20px 0 40px 20px;
  background-color: #373737;
  color: #fcfaf7; }
  footer .icon {
    height: 30px;
    width: 30px; }
  footer a {
    padding: 0 3px; }
  @media only screen and (min-width: 490px) {
    footer {
      padding: 30px 0 30px 40px; } }

.to-right {
  float: right;
  margin-right: 20px; }
  @media only screen and (min-width: 490px) {
    .to-right {
      margin-right: 40px; } }

/* ----------------------------------------------  Helpers  ---------------------------------------------- */
.img-mobile-screen {
  vertical-align: top;
  height: 400px;
  padding-right: 40px; }

.img-one-quarter-width {
  vertical-align: top;
  width: 24%; }

.img-half-width {
  vertical-align: top;
  width: 49%; }

.img-three-quarters-width {
  vertical-align: top;
  width: 74%; }

.img-full-width {
  vertical-align: top;
  width: 100%; }

.with-border {
  border: solid 1px #d0e3ff; }

iframe, video {
  max-width: 100%; }

.warning {
  color: #ffffff;
  background-color: #C30918;
  padding: 6px 8px;
  font-weight: 400;
  margin-right: 8px; }

.margin-top-1 {
  margin-top: 1em; }

.margin-top-2 {
  margin-top: 2em; }

/*# sourceMappingURL=myCss.css.map */
