/*  all my CSS here */
html {
  position: relative; }

body {
  margin: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  /* Roboto Condensed for titles */
  font-size: 16px;
  color: #5a5a5a;
  min-height: 100%;
  position: relative; }

a {
  color: #5a5a5a;
  font-weight: 500;
  text-decoration: underline #aaaaaa; }

p {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  font-weight: 400; }

/* for very small screen */
@media only screen and (max-width: 313px) {
  p, ul {
    font-size: 14px; } }
/* ----------------------------------------------  Helpers  ---------------------------------------------- */
.img-mobile-screen {
  height: 400px;
  padding-right: 40px; }

.img-half-width {
  width: 50%; }

.img-full-width {
  width: 100%; }

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4f8f00;
  padding: 7px 12px;
  text-decoration: none; }

.button:hover {
  color: #4f8f00;
  background-color: #ffffff;
  padding: 5px 10px;
  border: solid 2px #4f8f00; }

.warning {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #C30918;
  padding: 10px 15px;
  font-weight: 600; }

/* ----------------------------------------------  Banner  ---------------------------------------------- */
.banner {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  top: 0;
  height: 90px;
  background-color: #4f8f00;
  width: 100%;
  /* on small screen */ }
  .banner img {
    display: none; }
  .banner h1, .banner h2 {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 0;
    text-align: center; }
  .banner h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    color: #373737;
    font-weight: 800; }
  .banner h2 {
    color: #eeeeee;
    font-weight: 400; }
  @media only screen and (min-width: 360px) {
    .banner h1, .banner h2 {
      margin: 5px 0;
      padding: 10px 0 0 120px;
      font-size: 18px;
      text-align: left; }
    .banner img {
      float: left;
      display: block;
      margin-top: 10px;
      margin-left: 15px;
      height: 80px;
      width: 80px; } }
  @media only screen and (min-width: 490px) {
    .banner {
      height: 150px; }
      .banner h1, .banner h2 {
        margin: 15px 0;
        padding-left: 200px;
        font-size: 22px; }
      .banner img {
        margin-top: 15px;
        height: 130px;
        width: 130px; } }

/* ----------------------------------------------  Navbar  ---------------------------------------------- */
.navbar {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  width: 100%;
  top: 90px;
  height: 40px;
  font-weight: 400;
  background-color: #eeeeee;
  border-bottom: solid 3px #eeeeee; }
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    /* for very small screen */ }
    @media only screen and (max-width: 313px) {
      .navbar a {
        font-size: 14px; } }
    @media only screen and (min-width: 490px) {
      .navbar a {
        font-size: 20px;
        padding: 10px 30px; } }
  .navbar a:hover {
    border-bottom: solid 3px #4f8f00; }
  @media only screen and (min-width: 490px) {
    .navbar {
      top: 150px; } }

/* ----------------------------------------------  Body of a page  ---------------------------------------------- */
.body-content {
  position: relative;
  margin-top: 133px;
  /* size of banner  + navbar */
  margin-bottom: 40px;
  /* to leave some room above the footer */ }
  @media only screen and (min-width: 490px) {
    .body-content {
      margin-top: 193px; } }
  .body-content a:hover {
    color: #4f8f00; }
  .body-content h1, .body-content h2, .body-content p, .body-content ul, .body-content .img-half-width {
    padding-left: 40px;
    padding-right: 40px; }
    @media only screen and (min-width: 768px) {
      .body-content h1, .body-content h2, .body-content p, .body-content ul, .body-content .img-half-width {
        padding-left: 60px;
        padding-right: 60px; } }
    @media only screen and (min-width: 992px) {
      .body-content h1, .body-content h2, .body-content p, .body-content ul, .body-content .img-half-width {
        padding-left: 100px;
        padding-right: 100px; } }
    @media only screen and (min-width: 1200px) {
      .body-content h1, .body-content h2, .body-content p, .body-content ul, .body-content .img-half-width {
        padding-left: 200px;
        padding-right: 200px; } }
  .body-content ul {
    line-height: 1.5;
    padding-left: 80px; }
    @media only screen and (min-width: 768px) {
      .body-content ul {
        padding-left: 100px; } }
    @media only screen and (min-width: 992px) {
      .body-content ul {
        padding-left: 140px; } }
    @media only screen and (min-width: 1200px) {
      .body-content ul {
        padding-left: 240px; } }
  .body-content .icon {
    vertical-align: top;
    height: 40px;
    padding: 5px 10px 5px 0; }
  .body-content .icon-big {
    vertical-align: top;
    height: 80px;
    padding: 5px 10px 5px 0; }
  .body-content .icon-very-big {
    vertical-align: top;
    height: 120px;
    padding: 5px 10px 5px 0; }

.hero-img {
  width: 100%;
  border-bottom: solid 1px #ffffff;
  border-top: solid 3px #eeeeee; }

h1 {
  font-size: 18px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (min-width: 490px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 18px;
  padding-top: 2em;
  padding-bottom: 0;
  color: #4f8f00; }
  @media only screen and (min-width: 490px) {
    h2 {
      font-size: 24px; } }

.work {
  text-transform: uppercase;
  padding-top: 3em; }

/* ----------------------------------------------  Footer  ---------------------------------------------- */
footer {
  height: 30px;
  padding: 20px 0 40px 20px;
  background-color: #373737;
  color: #ffffff; }
  footer .icon {
    height: 30px;
    width: 30px; }
  footer a {
    padding: 0 3px; }
  @media only screen and (min-width: 490px) {
    footer {
      padding: 30px 0 30px 40px; } }

.to-right {
  float: right;
  margin-right: 20px; }
  @media only screen and (min-width: 490px) {
    .to-right {
      margin-right: 40px; } }

/*# sourceMappingURL=myCss.css.map */
