/*  all my CSS here */

html{
    position: relative;
}

body {
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif; /* Roboto Condensed for titles */
    font-size: 16px;
    color: #5a5a5a; 
    min-height: 100%;
    position: relative;
}

a {
    color: #5a5a5a;
    font-weight: 500;
    text-decoration: underline #aaaaaa;
}

p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    font-weight: 400;
}

.lead {
    padding-top: 4em;
    font-weight:600;
    font-size: 18px;
}

/* for very small screen */
@media only screen and (max-width: 313px) {
    p, ul { 
        font-size: 14px;
    }
    .cv-contact {
        width: 300px;
    }
}


/* ----------------------------------------------  Banner  ---------------------------------------------- */

.banner {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    top: 0;
    height: 90px;
    background-color: #4f8f00 ;
    width: 100%;
    img {
        display: none;
    }
    h1, h2 {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 0;
        text-align: center;
    }
    h1 { 
        text-transform: uppercase; 
        font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
        color: #373737;
        font-weight: 800; 
    }
    h2 {
        color: #eeeeee;
        font-weight: 400; 
    }
    /* on small screen */
    @media only screen and (min-width: 360px) { 
        h1, h2 {
            margin: 5px 0;
            padding: 10px 0 0 120px;
            font-size: 18px;
            text-align : left;
        }
        img {
            float: left;
            display: block;
            margin-top: 10px;
            margin-left: 15px;
            height: 80px;
            width : 80px;
        }
    }

    @media only screen and (min-width: 490px) { 
        height: 150px;
        h1, h2, {
            margin: 15px 0;
            padding-left: 200px;
            font-size: 22px;
        }
        img {
            margin-top: 15px;
            height: 130px;
            width : 130px;
        }
    }
}


/* ----------------------------------------------  Navbar  ---------------------------------------------- */

.navbar {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    width: 100%;
    top: 90px;
    height: 40px;
    background-color: #e3e3e3 ;
    border-bottom: solid 4px #e3e3e3 ;

    a {
        float: left;
        display: block;
        text-align: center;
        color: #373737;
        font-weight: 400 ;
        text-decoration: none;
        height: 16px;
        padding: 12px 20px;
        /* for very small screen */
        @media only screen and (max-width: 313px) {
            padding: 12px 10px;
        } 
        @media only screen and (min-width: 490px) { 
            font-size: 20px;
            height: 20px ;
            padding: 10px 30px;
        }
    }
    a:hover {
        border-bottom: solid 4px #4f8f00;
    }

    .on-the-page {
        color: #4f8f00;
        font-weight: 500 ;
    }

    @media only screen and (min-width: 490px) { 
        top : 150px;
    }
}


/* ----------------------------------------------  Body of a page  ---------------------------------------------- */

.body-content {
    position: relative;
    margin-top: 131px; /* size of banner  + navbar */
    margin-bottom: 40px; /* to leave some room above the footer */
    @media only screen and (min-width: 490px) { 
        margin-top: 193px;
        font-size: 18px;
    }

    a:hover {
        color: #4f8f00;
    }

   // this is to avoid the line of text to be too long to read on big screens. Max 740px and same white space on both side of it
    p, h1, h2, ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 740px;
        padding-left: 30px;
        padding-right: 30px;
        // avoid difference of spacing between words while reading which can be a strain on the eye
        text-align: left;
    }

    h1, h2 {
        font-size: 22px;
        padding-top: 2em;
        color: #4f8f00; 
        @media only screen and (min-width: 490px) {
            font-size: 26px;
        }
    }

    p {
        @media only screen and (min-width: 490px) {
            font-size: 18px;
        }
    }

    ul {
        line-height: 1.5;
        padding-left: 60px;
        @media only screen and (min-width: 768px) { 
            padding-left: 90px;
        }
        @media only screen and (min-width: 992px) { 
            padding-left: 120px; 
        }
    }

    .icon {
        vertical-align: top;
        height: 40px;
        padding: 5px 10px 5px 0;
    }
    .icon-big {
        vertical-align: top;
        height: 80px;
        padding: 5px 10px 5px 0;

    }
    .icon-very-big {
        vertical-align: top;
        height: 120px;
        padding: 5px 10px 5px 0;

    }
    ::selection {
        background: #cae0af;
        color: #1a1a1a;
    }
}

.hero-img {
    width: 100%;
    border-bottom: solid 1px #ffffff;
}

.work {
    text-transform: uppercase;
    padding-top: 3em;
    color: #5a5a5a; 

}

/* ----------------------------------------------  For the CV  ---------------------------------------------- */

.cv {
    position: relative;
    margin-bottom: 40px; /* to leave some room above the footer */
      p, h1, h2 {
        text-align: left;
    }

    h1 {
        font-size: 22px;
        padding-top: 1.5em;
        color: #4f8f00; 
        @media only screen and (min-width: 490px) {
            font-size: 26px;
        }
    }
    h2 {
        font-size: 18px;
        padding-top: 0.5em;
        margin-bottom : 0;
        color: #1a1a1a; 
        font-weight: 600;
        @media only screen and (min-width: 490px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 14px;
        margin: 0;
        @media only screen and (min-width: 490px) {
            font-size: 16px;
        }
    }
    .icon {
        vertical-align: bottom;
        height: 30px;
        width: 30px;
    }
    .cv-name {
        display: none;
        min-width: 400px; 
        margin-left:30px;
        margin-bottom: 40px;
        h1 {
            font-size: 26px;
            margin-bottom: 0;
            @media only screen and (min-width: 850px) {
                font-size: 30px;
            }
        }
        h2 {
            font-family: 'Roboto Bold Condensed','Roboto',Helvetica,Arial,sans-serif;
            font-size: 22px;
            margin-bottom: 0;
            font-weight: 700;
            margin: 0;
            @media only screen and (min-width: 850px) {
                font-size: 26px;
            }
        }
        @media only screen and (min-width: 630px) {
            display: block;
        }
        @media only screen and (min-width: 850px) {
            margin-left: 60px;
        }
    }
    .cv-contact {
        margin: 20px;
        max-width: 1024px;
        padding: 10px 0 10px 20px;
        border-left: solid 2px #4f8f00; 
        font-weight: 500;
        a:hover {
            color: #4f8f00;
        }
        a.inverted {
            color: #4f8f00;
            text-decoration: none;
        }
        a.inverted:hover {
            color: #5a5a5a;
        }
        p {
            font-family: 'Roboto Bold Condensed','Roboto',Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 700;
            @media only screen and (min-width: 850px) {
                font-size: 20px;
            }
        }
        @media only screen and (min-width: 630px) {
            float: right;
        }
        @media only screen and (min-width: 850px) {
            margin: 40px;
        }
    }
}
.cv-banner {
    display: block;
    @media only screen and (min-width: 630px) {
        display: none;
    }
}

.skills {
    margin: 0  0 30px 10px;
    @media only screen and (max-width: 364px) { // for small screens, only one column
        margin: 0 15px 30px 15px;
    }
    @media only screen and (min-width: 365px) {
        float: left;   
        width: 160px;
    }
    @media only screen and (min-width: 490px) {
        width: 220px;
        margin: 0 0 40px 30px;
    }
    @media only screen and (min-width: 850px) {
        width: 250px;
        margin: 0 0 40px 60px;
    }
}

.education-work {
    max-width: 1024px;
    margin-right: 15px;
    a {
        color: #4f8f00;
    }
    a:hover {
        color: #5a5a5a;
    }
    @media only screen and (max-width: 364px) { // for small screens, only one column
        margin: 0 15px 30px 15px;
    }
    @media only screen and (min-width: 365px) {
        padding-left: 175px; 
    }
    @media only screen and (min-width: 490px) {
        margin-right: 30px;
        padding-left: 250px;
    }
    @media only screen and (min-width: 850px) {
        margin-right: 40px;
        padding-left: 310px;
    }
}

p.date {
    font-family: 'Roboto Bold Condensed','Roboto',Helvetica,Arial,sans-serif;
    color: #888888;
    font-weight: 700;
}

/* ----------------------------------------------  Footer  ---------------------------------------------- */

footer {
    height: 30px;
    padding: 20px 0 40px 20px;
    background-color: #373737;
    color: #ffffff;

    .icon {
        height: 30px;
        width: 30px;
    }
    a {
        padding: 0 3px;
    }
    @media only screen and (min-width: 490px) {
        padding: 30px 0 30px 40px;
    }
}

.to-right {
    float: right;
    margin-right: 20px;
    @media only screen and (min-width: 490px) {
        margin-right: 40px;
    } 
}

.clearfix::after { // to avoid element with to-right to overflow outside a container
    content: "";
    clear: both;
    display: table;
  }

/* ----------------------------------------------  Helpers  ---------------------------------------------- */

.img-mobile-screen {
    height: 400px;
    padding-right: 40px;
}
.img-one-quarter-width {
    width: 25%;
}
.img-half-width {
    width: 50%;
}
.img-three-quarters-width {
    width: 75%;
}
.img-full-width {
    width: 100%;
}

.button {
    color : #ffffff;
    text-transform: uppercase;
    background-color: #4f8f00;
    padding: 10px 12px;
    text-decoration: none;
    ::selection {
        background: #ffffff;
        color: #5a5a5a;
    }
}
.button:hover {
    color: #4f8f00;
    background-color: #ffffff;
    padding: 8px 10px;
    border: solid 2px #4f8f00;
    ::selection {
        background: #ffffff;
        color: #5a5a5a;
    }
}

.warning  {
    color : #ffffff;
    background-color: #C30918;
    padding: 2px 4px;
    font-weight: 400;
    margin-right: 8px;
}

.margin-top-1 {
    margin-top: 1em;
}
.margin-top-2 {
    margin-top: 2em;
}


