/*  all my CSS here */

html{
    position: relative;
    background-color: #4f8f00;
}

body {
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    color: #5a5a5a; 
    min-height: 100%;
    position: relative;
    background-color: #fcfaf7 ;
}

a {
    color: #5a5a5a;
    font-weight: 500;
    text-decoration: underline #aaaaaa;
}

h1, h2, h3 {
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
}

p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}

/* for very small screen */
@media only screen and (max-width: 313px) {
    p, ul { 
        font-size: 0.8em;
    }
    .cv-contact {
        width: 300px;
    }
}



/* ----------------------------------------------  Navbar  ---------------------------------------------- */

nav {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    width: 100%;
    top: 0;
    height: 40px;
    background-color: #4f8f00;
    border-bottom: solid 4px #4f8f00; 
    

    a {
        float: left;
        display: block;
        text-align: center;
        color: #000000; //373737;
        font-weight: 500 ;
        font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
        text-decoration: none;
        height: 16px;
        padding: 12px 20px;
        /* for very small screen */
        @media only screen and (max-width: 313px) {
            padding: 12px 10px;
        } 
        @media only screen and (min-width: 490px) { 
            font-size: 20px;
            height: 20px ;
            padding: 10px 30px;
        }
    }
    a:hover, a:focus {
        border-bottom: solid 4px #000000;//4f8f00;
    }

    .on-the-page {
        color: #286300; // E3E3E3; 
        background-color: #FCFAF7; //373737;
        border-bottom: solid 4px #FCFAF7; //373737 ;

    }
    a.on-the-page:hover, a.on-the-page:focus {
        border-bottom: solid 4px #4f8f00;
    }
}


/* ----------------------------------------------  Body of a page  ---------------------------------------------- */

main {
    position: relative;

    a:hover, a:focus {
        color: #408000; //4f8f00;
    }

    a.invisible-link{
        text-decoration: none;
        font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
        font-weight: bold;

    }

    a.big-link {
        font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        color: #408000; //4f8f00;
    }

    a.big-link:hover, a.big-link:focus {
        color: #5a5a5a; 
    }

   // this is to avoid the line of text to be too long to read on big screens. Max 740px and same white space on both side of it
    p, h1, h2, ul, h3 {
        margin-left: auto;
        margin-right: auto;
        max-width: 740px;
        padding-left: 30px;
        padding-right: 30px;
        // avoid difference of spacing between words while reading which can be a strain on the eye
        text-align: left;
    }

    h1, h2, h3 {
        padding-top: 2em;
        color: #408000; //4f8f00; 
    }

    h1 {
        font-size: 1.6em;
        @media only screen and (min-width: 992px) {
            font-size: 2.2em;
        }
    }
    h2 {
        font-size: 1.4em;
        @media only screen and (min-width: 992px) {
            font-size: 2em;
        }
    }
    h3 {
        font-size: 1.2em;
        @media only screen and (min-width: 992px) {
            font-size: 1.8em;
        }
    }
    
    h3.alt {
        color: #1a1a1a;
        padding-top: 1.5em;
    }

    .alt-h1{
        padding-top:0;
        color: #5a5a5a; 
        font-weight: bold;
    }

    .alt-h2{
        color: #5a5a5a; 
        font-weight: bold;    
    }

    .lead {
        font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
        padding-top: 2em;
        font-weight:600;
        font-size: 1em;
        @media only screen and (min-width: 992px) {
            font-size: 1.2em;
        }
    }

    ul {
        line-height: 1.5;
        padding-left: 60px;
        @media only screen and (min-width: 768px) { 
            padding-left: 90px;
        }
        @media only screen and (min-width: 992px) { 
            padding-left: 120px; 
        }
    }

    .icon {
        vertical-align: top;
        height: 40px;
        padding: 5px 10px 5px 0;
    }
    .icon-big {
        vertical-align: top;
        height: 80px;
        padding: 5px 10px 5px 0;
        @media only screen and (max-width: 470px) { 
            max-width: 100%;
        }
    }

    ::selection {
        background: #cae0af;
        color: #1a1a1a;
    }
}


/* ----------------------------------------------  For the CV  ---------------------------------------------- */

.cv {
    a.inverted {
        color: #408000; //4f8f00; 
        text-decoration: none;
        font-weight: 600;
    }
    a.inverted:hover,  a.inverted:focus {
        color: #5a5a5a;
    }
    h2, h3 {
        margin: 0.2em auto;
        padding-top: 1em;
    }
    h2 {
        border-top: solid 2px #4f8f00;
    }
    
    p {
        margin: 0.2em auto;
    }

    p.date {
        font-family: 'Roboto Condensed','Roboto',Helvetica,Arial,sans-serif;
        color: #5a5a5a;
        font-weight: 700;
    }
}


/* ----------------------------------------------  Footer  ---------------------------------------------- */

footer {
    margin-top: 2em;
    height: 30px;
    padding: 20px 0 40px 20px;
    background-color: #373737;
    color: #fcfaf7 ;

    .icon {
        height: 30px;
        width: 30px;
    }
    a {
        padding: 0 3px;
    }
    @media only screen and (min-width: 490px) {
        padding: 30px 0 30px 40px;
    }
}

.to-right {
    float: right;
    margin-right: 20px;
    @media only screen and (min-width: 490px) {
        margin-right: 40px;
    } 
}


/* ----------------------------------------------  Helpers  ---------------------------------------------- */

.img-mobile-screen {
    vertical-align: top;
    height: 400px;
    padding-right: 40px;
}
.img-one-quarter-width {
    vertical-align: top;
    width: 24%;
}
.img-half-width {
    vertical-align: top;
    width: 49%;
}
.img-three-quarters-width {
    vertical-align: top;
    width: 74%;
}
.img-full-width {
    vertical-align: top;
    width: 100%;
}
.with-border {
    border: solid 1px #d0e3ff ;
}
.hero-img {
    width: 100%;
    border-bottom: solid 1px #fcfaf7 ;
    margin-top: 44px; // to display below the nav bar
}
.profile {
    @media only screen and (max-width: 560px) {
        width: 100%;
    }  
}

iframe, video {
    max-width: 100% 
}

.warning  {
    color : #ffffff;
    background-color: #C30918;
    padding: 6px 8px;
    font-weight: 400;
    margin-right: 8px;
}

.margin-top-1 {
    margin-top: 1em;
}
.margin-top-2 {
    margin-top: 2em;
}


